opencv-python==4.2.0.34
scipy==1.4.1
imutils==0.5.3
dlib==19.19.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.11.1
tensorflow-estimator==2.2.0
numpy==1.17.2

